{% extends '@frontend_front/base.html.twig' %}
{% block title %}Voka - Was ist das? - Vokabeltrainer deutsch{% endblock %}
{% block body %}
    <header class="py-5">
        <div class="container px-5 pb-5">
            <div class="row gx-5">
                <div class="col-xxl-6">
                    <!-- Header text content-->
                    <div class="text-center text-xxl-start">
                        <div class="badge bg-gradient-primary-to-secondary text-white mb-4">
                            <div class="text-uppercase">Deutsch &middot; Trainer &middot; Vokabular</div></div>
                        <div class="fs-3 fw-light text-muted">Vokabeltrainer deutsch</div>
                        <h1 class="display-3 fw-bolder mb-5">
                            <span class="text-gradient d-inline">Was ist das?</span></h1>

                    </div>
                </div>
                <div class="col-xxl-6">
                    <p>
                        <i class="fas fa-brain text-gradient"></i> <span class="fw-bolder text-gradient">Voka</span> es una aplicación gratuita para aprender vocabulario alemán.
                    </p>
                    <p>
                        La particularidad de la aplicación, es que utiliza el sistema de colores para ayudar a
                        memorizar los tres generos del alemán: <b class="text-der">Der</b>,
                        <b class="text-die">Die</b> y <b class="text-das">Das</b>.
                        Utilizando los colores estandar: <b class="text-der">másculino</b>,
                            <b class="text-die">femenino</b> y <b class="text-das">neutro</b>.
                    </p>
                    <p>
                        Es de sobra conocido para todos los estudiantes de Alemán,
                        la dificultad para recordar los géneros de cada palabra.
                    </p>
                    <p>
                        Esperamos que con esta herramienta te sea más fácil memorizar las palabras.
                    </p>
                </div>

            </div>
    </header>
{% endblock %}