{% extends '@frontend_front/base.html.twig' %}
{% block title %}Voka - Prüfung - Visueller Wortschatztrainer - Vokabeltrainer deutsch{% endblock %}
{% block body %}
    <section class="py-3" id="next">
        {% include '@frontend_front/quiz/displayQuiz.html.twig' %}
    </section>
{% endblock %}