{% extends '@frontend_front/base.html.twig' %}
{% block title %}Voka - Ausbildung - Visueller Wortschatztrainer - Vokabeltrainer deutsch{% endblock %}
{% block body %}
    <section class="py-3" id="next">
       {%  include '@frontend_front/training/displayWords.html.twig' %}
    </section>
{% endblock %}