<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars"></i>
    </button>

    {% if titleH1 is defined %}
    <h5 class="d-md-none">{{ titleH1 }}</h5>
    <h1 class="d-none d-lg-block">{{ titleH1 }}</h1>
    {% endif %}

    <ul class="navbar-nav ml-auto">
        <div class="topbar-divider d-none d-sm-block"></div>

        <li class="nav-item">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                Hallo {{ app.user.username }} !</span>
        </li>
        <div class="topbar-divider d-none d-sm-block"></div>
        <li  class="nav-item">
            <a class="small" href="{{ path('logout') }}" data-toggle="modal" data-target="#logoutModal">
                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                Abschalten
            </a>
        </li>

    </ul>

</nav>