<footer class="sticky-footer bg-white">
    <div class="container my-auto">
        <div class="copyright text-center ">
            <span>Gestor de contenidos para
            <i class="fas fa-brain text-gradient"></i> <span class="fw-bolder text-gradient">Voka</span>
            </span>
        </div>
    </div>
</footer>
