<footer class="bg-white py-4 mt-auto">
    <div class="row align-items-center justify-content-between flex-column flex-sm-row">
        <div class="copyright text-center text-muted">
            <a href="http://www.did-web.com/vokabular" class="nav-link">Kredenz</a>
        </div>
    </div>
</footer>